* {
    box-sizing: border-box;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #6ed3cf;
    background-size: cover;
}

.img-row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.img-column {
    display: flex;
    flex-wrap: wrap;
}

input[type="search"] {
    height: 40px;
    width: 60%;
    max-width: 400px;
    color: white;
    font-size: 16pt;
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
}

figcaption {
    display: none;
}

img {
    border: 2px solid #6ed3cf;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 44px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 44px -18px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 44px -18px rgba(0,0,0,0.75);
    transition: 1s;
}

img:hover {
    transform: scale(1.1);
}


@media (min-width: 768px){
   


}